.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .container {
    text-align: center;

    .errText1 {
      margin-top: 2rem;
      font-size: 5rem;
      letter-spacing: 2rem;
    }

    .errText2 {
      margin-top: 1rem;
      text-transform: capitalize;
    }
  }
}

.middle {
  text-align: center;

  & > * {
    width: 10px;
    height: 70px;
    background: var(--color-background);
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
  }

  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: var(--color-background);
  }
  50% {
    transform: scaleY(1);
    background: var(--color-font);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
