.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--color-mobile-nav);
  height: 8%;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

  ul {
    height: 100%;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      cursor: pointer;

      svg {
        font-size: 3.5rem;
        margin-bottom: .5rem;
      }
    }

    .active {
      opacity: 1;
    }
  }
}
