.search_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5rem);

  overflow-x: hidden;
  z-index: -1;

  .container {
    margin: 15rem auto;
    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    .hints {
      color: #fff;
      text-align: center;

      p {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      .smallText {
        margin: 4rem auto;

        p {
          font-size: 2rem;

          .highlight {
            padding: 1rem;
            margin: 0 1rem;
            font-size: 1.5rem;
            border: 2px solid #fff;
            border-radius: 1rem;
            cursor: pointer;
            opacity: 0.8;
            transition: all 0.5s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.searchBar {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  input {
    outline: none;
    width: 40rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-main-page);
    border: 1px solid var(--color-font);
    transition: width 0.5s;
    color: inherit;

    &:focus {
      width: 50rem;
    }
  }

  .searchIcon {
    font-size: 3rem;
    padding: 0 1rem;
    align-self: center;
    align-content: center;
    border: 1px solid var(--color-font);
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      transform: scale(0.9);
      color: var(--color-compo-dark);
    }

    .largeIcon {
      font-size: 2.2rem;
    }
  }
}
