.container {
  button {
    margin-bottom: 0.4rem;
    transition: all 0.4s;
    // background: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  table {
    width: 100%;
    text-align: center;

    thead {
      font-weight: 600;
      letter-spacing: 0.1rem;
    }
  }

  table,
  th,
  td {
    border: 1px solid var(--color-font);
  }

  td {
    padding: 2rem 1rem;

    .checkbox {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .more {
    cursor: pointer;

    svg {
      &:last-child {
        color: red;
      }
    }

    & > * {
      margin: 0 0.4rem;
      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.info {
  font-size: 4rem;
  margin: 4rem 2rem;
}

// Add Record SCSS
.sidebar {
  .form {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;

    .topics {
      label {
        margin-bottom: 1rem;
      }
    }

    svg {
      font-size: 2.5rem;
    }

    input {
      display: block;
      margin: 1rem 0 2rem 0;
      width: 80%;
      transition: all 0.4s;
      outline: none;
      padding: 0.3rem 1rem;
    }

    label {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    button {
      margin-top: 1.5rem;
      background: var(--color-compo-light);
      color: #fff;
      border: none;
      padding: 0.5rem 0;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        background-color: var(--color-compo-dark);
        transform: scale(1.05);
      }
    }
  }
}
