.btn {
    background-image: linear-gradient(to bottom right, var(--color-gradient-dark), var(--color-gradient-light));
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        transform: scale(1.02) translateY(-5px);
        box-shadow: 0 .1rem .5rem #333;
        background-image: linear-gradient(to bottom right, var(--color-gradient-light), var(--color-gradient-dark));
    
    }

    &:active {
        transform: scale(1) translateY(5px);
        box-shadow: 0 .1rem .3rem #333;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
