.container {
  overflow-y: scroll;
  height: 57rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;

  svg {
    font-size: 2.5rem;
  }

  input {
    display: block;
    margin: 1rem 0 2rem 0;
    width: 100%;
    transition: all 0.4s;
    outline: none;
    padding: 0.3rem 1rem;
  }

  label {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button {
    margin-top: 1.5rem;
    background: var(--color-compo-light);
    color: #fff;
    border: none;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.4s;
    text-transform: uppercase;

    &:hover {
      background: var(--color-compo-dark);
      transform: scale(1.05);
    }
  }

  .selectBox {
    margin: 1rem 0;

    select {
      margin-top: 1rem;
    }
  }
}

.errText {
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: center;
  color: rgba(255, 0, 0, 0.8);
  font-size: 1.7rem;
  border: 1px solid rgba(238, 80, 17, 0.8);
  border-radius: 0.5rem;
}

.success {
  p {
    &:first-child {
      margin-top: 2rem;
      color: var(--color-ongoing);
      text-transform: uppercase;
    }
  }

  & > * {
    margin: 1rem 0;
  }
}

.verify {
  margin: 2rem 0;

  & > * {
    margin: 4rem 0;
  }

  button {
    margin: 1rem 0;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 0.5rem;
    background: var(--color-compo-light);
    color: #fff;
    transition: all 0.4s;
    border: none;
    box-shadow: 0 0.5rem 0.7rem rgba($color: #000, $alpha: 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:hover {
      background: var(--color-compo-dark);
      transform: translateY(-0.5rem);
    }
  }

  .heading2 {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
  }

  .verification,
  .verified {
    display: flex;
    flex-direction: column;
  }
}
