.container {
    margin: 10rem auto;
    padding: 4rem 3rem;
    background-color: var(--color-main-page);
    color: var(--color-font);
    height: 35rem;
    width: 50rem;
    border-radius: 10px;
    box-shadow: 0 .4rem .6rem rgba($color: var(--color-nav), $alpha: .6);

    form {
        fieldset {
            background-color: var(--color-background);
            border-radius: .5rem;
            box-shadow: 0 .4rem .6rem rgba($color: var(--color-nav), $alpha: .6);
            padding: 0 3rem;
        }

        .input {
            margin: 2rem 0;
            
            input {
                background-color: var(--color-main-page);
                outline: none;
                color: var(--color-font);
                width: 90%;
                min-height: 3rem;
                border-radius: .5rem;
            }

            & > * {
                margin: .5rem 0;
            }
        }
        
        button {
            margin-bottom: 2rem;
            position: relative;
            left: 25rem;
            background-color: #929292;
            color: #fff;
            border: none;   
            padding: .5rem 2rem;
            border-radius: .5rem;
            transition: all .5s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 .3rem .5rem rgba($color: var(--color-nav), $alpha: .6);
            }

            &:active {
                transform: scale(1);
                box-shadow: none;
            }
        }
    }
}