.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	text-transform: capitalize;

	.heading {
		font-size: 5rem;
		margin: 4rem 0;

		@media only screen and (max-width: 768px) {
			font-size: 3rem;
			margin: 2rem 0;
		}
	}

	p {
		width: 50%;

		@media only screen and (max-width: 768px) {
			width: 90%;
		}
	}

	.heading2 {
		margin: 4rem 0;
		font-weight: 600;
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		width: 100%;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
			width: 60%;
		}

		& > * {
			text-transform: uppercase;
			margin: 2rem 0;	
			padding: 1rem 5rem;
			border-radius: var(--btn-br);
			color: #fff;
			letter-spacing: 0.2rem;
			cursor: pointer;
			box-shadow: 0 0.5rem 0.5rem rgba($color: #000, $alpha: 0.4);

			transition: all 0.4s;

			&:hover {
				box-shadow: 0 0.5rem 0.2rem rgba($color: #000, $alpha: 0.4);
				transform: scale(1.04);
			}

			@media only screen and (max-width: 768px) {
				font-size: 2.5rem;
			}

			&:active {
				transform: translateY(1rem);
			}
		}

		.login {
			background: var(--color-compo-light);
			border: none;

			&:hover {
				background: transparent;
				color: var(--color-font);
				border: 2px solid var(--color-compo-light);
			}
		}

		.register {
			background: transparent;
			border: 2px solid var(--color-compo-light);
			color: var(--color-font);

			&:hover {
				background: var(--color-compo-light);
				color: #fff;
			}
		}
	}

	.promotion {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;

		.downloadBtn {
			background-color: transparent;
			border: 1px solid var(--color-font);
			color: var(--color-font);
			letter-spacing: 0.2rem;
			padding: 1rem 2rem;
			border-radius: var(--btn-br);
			cursor: pointer;
			transition: all 0.5s;

			&:hover {
				background-color: var(--color-font);
				color: var(--color-background);
				transform: translateY(-1rem);
				box-shadow: 0 0.5rem 0.5rem rgba($color: #000, $alpha: 0.4);
			}
		}
	}
}
