.inner {
  padding: 1rem 0;

  .msg {
    text-align: center;
    // margin-bottom: 2rem;
  }

  .routine {
    display: flex;
    align-items: center;
    margin: 0 -2rem;
    justify-content: space-between;

    .center {
      text-align: center;
    }

    svg {
      cursor: pointer;
      transition: all 0.5s;

      &:last-child {
        margin-left: auto;
      }

      &:hover {
        color: var(--color-gradient-dark);
        transform: scale(1.5);
      }
    }
  }
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-font);
  opacity: 0.8;

  svg {
    font-size: 3rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.list {
  list-style: none;

  & > * {
    margin: 1rem 0.5rem;
  }

  .item {
    display: flex;
    transition: all 0.4s;
    cursor: pointer;

    & > * {
      &:not(:last-child) {
        flex: 1;
      }
    }

    &:hover {
      transform: scale(1.05);
    }

    a {
      font-weight: 600;
      text-decoration: underline;

      &:hover {
        color: dodgerblue;
      }
    }
  }
}

.loading {
  animation: loading 0.8s infinite;
}

.onGoing {
  color: var(--color-ongoing);
  animation: highlight 1s infinite;
  transition: all 0.4s;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    font-weight: 600;
  }

  100% {
    opacity: 0.5;
  }
}
