.bottomHeader {
  width: 4%;
  margin: 0 auto;
  height: 4rem;
  background: var(--color-compo-light);
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
  transition: all 0.5s ease;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  &:not(:hover) {
    svg {
      color: currentColor;
    }
  }

  &:hover {
    clip-path: none;
    width: 30%;
    background: var(--color-navbar);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    box-shadow: 0 0.5rem 0.6rem 0 rgba($color: #000, $alpha: 0.3);
    // color: currentColor;
  }

  .list {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;

    &:hover {
      color: var(--color-font);
    }

    svg {
      font-size: 3rem;
    }
  }
}

.tooltip {
  background: transparent;
  opacity: 0.7;
  color: var(--color-font);
  padding: 0.2rem 0.5rem;
}

.newTippy {
  background: transparent !important;
}

.icon {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
}
