.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);

  overflow-x: hidden;
  z-index: 3;
}

.modal {
  margin: auto 0;
  padding: 2rem;
  background: var(--color-background);
  width: 45rem;
  max-height: 65rem;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;

  animation: fadeIn 0.2s ease-in;

  .header {
    font-size: 2.5rem;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-font);
    text-align: right;
  }

  .body {
    padding: 3rem 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}