.cancel {
  text-align: right;
  svg {
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      animation: roundUp 0.9s ease-out;
      transform: scale(1.3);
    }
  }
}

@keyframes roundUp {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }
}
