.container {
  display: flex;
  text-align: center;
  align-items: baseline;
  flex-wrap: wrap;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  div {
    &:first-child {
      animation: moveFromLeft 0.5s ease-in;
    }

    &:nth-child(2) {
      animation: moveFromUp 0.5s ease-in 0.4s;
      animation-fill-mode: both;

      @media only screen and (max-width: 768px) {
        animation: moveFromLeft 0.5s ease-in 0.3s;
        animation-fill-mode: both;
      }
    }

    &:last-child {
      animation: moveFromRight 0.5s ease-in;
      animation-fill-mode: both;

      @media only screen and (max-width: 768px) {
        animation: none;
      }
    }
  }

  & > * {
    padding: 2rem 0;
    margin: 0 2rem;
    flex: 1;
    background-color: var(--color-main-page);
    border-radius: 3rem;

    @media only screen and (max-width: 768px) {
      margin: 2rem;
      width: 95%;
    }

    p {
      &:first-child {
        font-weight: 600;
        font-size: 2.5rem;
        padding-bottom: 1rem;
        letter-spacing: 0.1rem;
        border-bottom: 1px solid var(--color-font);
      }
    }

    ul {
      margin: 3rem 5rem;
      list-style: none;
      text-align: left;

      li {
        margin: 2.5rem 0;
        padding: 1rem 3rem;
        cursor: pointer;
        transition: all 0.3s;
        transform-origin: 0%;
        background: var(--color-background);
        border-radius: 5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(var(--color-nav), 0.5);

        @media only screen and (max-width: 768px) {
          font-size: 2.5rem;
        }

        &:hover {
          box-shadow: 0 0.2rem 0.2rem rgba(var(--color-nav), 0.5);
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }

    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: 0 0.4rem 0.6rem rgba($color: #000000, $alpha: 0.5);
    }
  }
}

.copyright {
  margin: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

// Div Animations

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromUp {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
