/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-background: #fff;
  --color-font: #001e3c;
  --color-nav: 0, 30, 60;
  --color-compo-light: #0079f3;
  --color-compo-dark: #0061c3;
  --color-navbar: var(--color-background);

  --color-main-page: #ebebeb;
  --color-ongoing: #1da51d;
  --color-gradient-light: #3e00ff;
  --color-gradient-dark: #3d087b;
  --color-shadow: #ccc;
  --color-back: #c5c0c0;
  --color-animation: #dddddd;

  // mobile
  --color-mobile-nav: #ddd;

  // Border, Magin, Padding
  --btn-br: 10rem;
}

body.dark {
  --color-background: #001e3c;
  --color-font: #fff;
  --color-nav: 0, 0, 0;
  --color-compo-light: #0079f3;
  --color-compo-dark: #0061c3;

  --color-navbar: #071a2f;
  --color-main-page: var(--color-navbar);

  --color-ongoing: yellowgreen;
  --color-gradient-light: #3d087b;
  --color-gradient-dark: #3e00ff;
  --color-shadow: #969696;
  --color-back: #363636;
  --color-animation: #525768;

  // mobile
  --color-mobile-nav: #032a57;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

html,
body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-size: 62.5%; /* 10px */
  background-color: var(--color-background);
  transition: background-color 0.5s ease-in-out;
  height: 100vh;
  color: var(--color-font);

  @media only screen and (max-width: 1250px) {
    font-size: 50%; /* 8px */
    overflow-x: hidden;
  }

  /* For mobile phones: */
  @media only screen and (max-width: 768px) {
    font-size: 45%;
    overflow: visible;

    // prevent the Blue highlighting of elements in Chrome when clicking
    -webkit-tap-highlight-color: transparent;
  }
}

svg {
  color: var(--color-font);
}

a {
  color: inherit;
  text-decoration: none;
}

.modalHeading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-top: -7.5rem;
}

.extras {
  margin: 2rem 0;
  text-align: center;

  & > * {
    cursor: pointer;
    transition: opacity 0.4s;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  button,
  p {
    background-color: transparent;
    color: var(--color-font);
    border: none;
  }
}

// scrollbar

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
  // background-color: var(--color-gradient-dark);
  background-image: linear-gradient(
    to bottom,
    #3e00ff,
    var(--color-background)
  );

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.icon {
  font-size: 3rem;
}

@mixin center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--color-font);
}

.center {
  @include center;
  background: none;
  border: 1px solid var(--color-font);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.centerText {
  @include center;
}

.hint {
  font-size: 90%;
  text-align: center;
  margin-top: 3rem;
  opacity: 0.8;
}

.main_container {
  margin: 8rem 6rem;
  color: var(--color-font);

  @media only screen and (max-width: 768px) {
    margin: 8rem 4rem;
  }
}
